<section id="<%- site.data.content_cz[2].tag %>" class="section section-reports">
    <div class="section-symbol section-symbol--white">
        <img class="section-symbol__logo" src="./img/<%- site.data.content_cz[2].sectionLogo %>" alt="information-image">
    </div>
    <div class="section-table section-margin">
        <h2 class="section__title"><%- site.data.content_cz[2].title %></h2>
        <div class="section__line-container">
            <div class="section__line-1"></div>
            <div class="section__line-2"></div>
        </div>
        <p class="section__description"><%- site.data.content_cz[2].description %></p>
        <div class="section-tabs">
            <% for (var i in site.data.content_cz[2].content){ %>
            <div class="row-2 section-tab">

            </div>
            <% } %>
        </div>
    </div>
</section>