<div class="vp-container">
    <div class="vp-canvas"></div>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px"
         viewBox="0 0 50 50" class="vp-cancel-btn icon">
        <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal"
              d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 15.990234 14.990234 A 1.0001 1.0001 0 0 0 15.292969 16.707031 L 23.585938 25 L 15.292969 33.292969 A 1.0001 1.0001 0 1 0 16.707031 34.707031 L 25 26.414062 L 33.292969 34.707031 A 1.0001 1.0001 0 1 0 34.707031 33.292969 L 26.414062 25 L 34.707031 16.707031 A 1.0001 1.0001 0 0 0 33.980469 14.990234 A 1.0001 1.0001 0 0 0 33.292969 15.292969 L 25 23.585938 L 16.707031 15.292969 A 1.0001 1.0001 0 0 0 15.990234 14.990234 z"
              font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"></path>
    </svg>
    <div id="vp"></div>
</div>