html,
body,
* {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #686868;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    text-align: center;
    max-width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
}

span {
    font-size: inherit;
    font-weight: inherit;
}

i {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

a:link, a:visited {
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    color: inherit;
    transition: color .3s ease;
}

a:hover {
    /*color: #4a5ec4;*/
    color: inherit;
}

span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

address {
    font-size: inherit;
}

strong {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    color: inherit;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.background-config {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: inherit;
}

/*******
    SECTION STYLING
 */

.section {
    position: relative;
    display: table;
    width: 100%;
}

.section-table {
    position: relative;
    text-align:center;
    width: 93%;
    max-width: 1200px;
}

.section-tabs {
    margin: 40px auto 0 auto;
    word-spacing : -4px ;
    display: table;
    height: 100%;
    width: 100%;
}

.section-tab {
    display: inline-block;
    position: relative;
    background-color: #2b46af;
    margin: 10px;
    height: 300px;
    word-spacing : normal;
    vertical-align:top;
    overflow: hidden;
    transition: all .3s ease;
}

.section-tab__table {
    display: table;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
}

.section-tab__table-inner {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 0 15px;
}

.section-tab__table-button {
    display: inline-block;
    margin: 4px 0;
    padding: 12px 18px;
    text-align: left;
    border-radius: 3px;
    background-color: transparent;
    transition: background-color .3s ease;
    float: left;
}

.section-tab:hover {
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
}

.section-tab:hover .section-tab__icon {
    color: #3853bc;
}

.section-tab:hover .section-tab__title {
    color: #3853bc;
}

.section-img__lock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    opacity: .6;
}

.section-tab__icon {
    color: #fff;
    padding: 0 5px;
    transition: all .3s ease;
}

.section-tab__icon--opacity {
    opacity: .8;
}

.section-tab__icon-type {
    position: absolute;
    opacity: .5;
    top: 0;
    right: 0;
    font-size: 27px;
    padding: 10px 10px 0 0;
}

.section-tab__title {
    margin: 20px 0 0 0;
    color: #fff;
    line-height: 27px;
    font-size: 20px;
    transition: all .3s ease;
}

.section-tab__spen {
    width: 40px;
    height: 1px;
    background-color: #fff;
    margin: 15px auto;
}

.section-tab__description {
    color: #fff;
    line-height: 25px;
    font-size: 16px;
    font-weight: 300;
    transition: all .3s ease;
}

.section-tab__type {
    color: #fff;
    line-height: 25px;
    font-size: 16px;
    font-weight: 300;
    transition: all .3s ease;
}

.section-tab__foreground-content {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43,70,175, .95);
    z-index: 700;
    transition: top .5s ease;
}

.section-tab:hover .section-tab__foreground-content {
    top: 0;
}

.section-tab__foreground-icon {
    position: absolute;
    margin: 0 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .8;
    color: #fff;
    transition: opacity .3s ease;
}

.section-tab__foreground-icon:hover {
    opacity: 1;
}

.section__title {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #2b46af;
}

.section__description {
    font-weight: 400;
    font-size: 16px;
    color: inherit;
}

.section__line-container {
    width: 80px;
    height: 1px;
    margin: 20px auto;
}

.section-float-left {
    margin: 20px 0;
    text-align: left;
}

.section__line-1 {
    width: 50%;
    height: 100%;
    background-color: #e1e4e8;
    float: left;
}

.section__line-2 {
    width: 50%;
    height: 100%;
    background-color: #e1e4e8;
    float: left;
}

.section-margin {
    margin: 110px auto 160px auto;
}

.section-margin--disable {
    margin: 70px auto;
}

.section-symbol {
    position: absolute;
    margin-top: -75px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.section-symbol--white {
    background-color: #fff;
}

.section-symbol--blue {
    background-color: #4a5ec4;
}

.section-symbol__logo {
    margin: 30px 0 0 0;
    width: 60%;
    max-width: 200px;
    opacity: 1;
}

.white-color {
    color: #fff;
}

.white-bg-color {
    background-color: #fff;
}

/******
    ROWS
*/

.row-1 {
    width: 100%;
}

.row-2 {
    width: 50%;
}

.row-3 {
    width: 30%;
}

.row-4 {
    width: 25%;
}

/******
    MENU
*/

.menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    transition: all .3s ease;
    z-index: 900;
}

.menu-nav {
    width: 100%;
    height: 100%;
}

.menu-nav__logo {
    position: relative;
    margin: 18px 0 0 40px;
    width: 120px;
    float: left;
    color: #003278;
    transition: margin-top .3s ease, width .3s ease;
}

.menu-nav__logo-span {
    position: absolute;
    top: 33px;
    right: 0;
    font-weight: 700;
    font-size: 12px;
    color: inherit;
    transition: top .3s ease;
}

.menu-nav__logo-symbol {
    margin: -12px 0 0 0;
    padding: 0;
    fill: #003278;
    width: 100%;
    transition: fill .3s ease;
}

.menu-nav__icon {
    margin: 0 5px 0 0;
}

.menu-nav__links {
    float: right;
    list-style-type: none;
    overflow: hidden;
    padding: 0 40px 0 0;
    color: #2b46af;
    transition: margin-top .3s ease, background-color .3s ease, top .3s ease;
}

.menu-nav__link {
    font-size: 16px;
    line-height: 80px;
    font-weight: 500;
    float: left;
    color: inherit;
    display: inline;
    padding: 0 20px;
}

.menu-nav__span {
    border-bottom: 0 solid #3853bc;
    padding-bottom: 8px;
}

.menu-nav__lang-btn {
    width: 65px;
    float: right;
    margin: 17px 0 0 0;
    padding: 10px;
    color: #2b46af;
    font-size: 16px;
    font-weight: 500;
}

.menu-nav__lang-btn--span {
    font-weight: 900;
}

.menu-nav__btn {
    display: none;
    position: absolute;
    color: inherit;
    top: 15px;
    right: 40px;
    color: #2b46af;
    cursor: pointer;
    transition: top .3s ease;
}

/********
    WELCOME SECTION
 */

.section-welcome {
    display: table;
    position: relative;
    width: 100%;
    height: 620px;
    background-image: url("../img/welcome-img.png");
}

.section-welcome__foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity .3s ease;
    background-image: url("../img/welcome-foreground-img.png");
}

/*******
    INFORMATION SECTION
 */

.section-information {

}

.section-information .section-tab {
    border-radius: 3px;
}


/*******
    REQUEST SECTION
 */

.section-request {

    background: rgba(74,94,196,1);
    background: -moz-linear-gradient(-45deg, rgba(74,94,196,1) 0%, rgba(37,64,143,1) 51%, rgba(43,70,175,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(74,94,196,1)), color-stop(51%, rgba(37,64,143,1)), color-stop(100%, rgba(43,70,175,1)));
    background: -webkit-linear-gradient(-45deg, rgba(74,94,196,1) 0%, rgba(37,64,143,1) 51%, rgba(43,70,175,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(74,94,196,1) 0%, rgba(37,64,143,1) 51%, rgba(43,70,175,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(74,94,196,1) 0%, rgba(37,64,143,1) 51%, rgba(43,70,175,1) 100%);
    background: linear-gradient(135deg, rgba(74,94,196,1) 0%, rgba(37,64,143,1) 51%, rgba(43,70,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a5ec4', endColorstr='#2b46af', GradientType=1 );

}

.section-request .section-symbol {
    background: linear-gradient(0deg, rgba(255,255,255,0) 50%, #384faa 50%);
}

.section-request .section-tabs {
    background-color: transparent;
}

.section-request .section-tab {
    margin: 2px;
    padding: 20px 0;
    height: 350px;
    background-color: transparent;
    border: solid 1px rgba(255,255,255, .2);
}

.section-request .section-tab:hover  {
    background-color: transparent;
    box-shadow: none;
}

.section-request .section-tab:hover .section-tab__description {
    opacity: 1;
}

.section-request .section-tab__description {
    border-radius: 3px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .1);
    opacity: .8;
}

.section-request .section-tab:hover .section-tab__icon {
    color: #fff;
}

.section-request .section-tab:hover .section-tab__title {
    color: #fff;
}

/*******
    REPORTS SECTION
 */

.section-reports {
    background-color: #fff;
}

.section-reports .section-table {
    /*width: 100%;
    max-width: 100%;*/
}

.section-reports .section-tab  {
    margin: 0;
    height: 450px;
    background-color: #f0f3ff;
}

.section-reports .section-tab:nth-child(2n-2) {
    background-color: #E2E7FC;
}

.section-reports .section-tab:hover  {
    background-color: #fff;
}

.section-reports .section-tab__table-inner {
    padding: 15px 30px;
}

.section-reports .section-tab__icon {
    padding: 0;
    margin: 0 5px 0 0;
    color: #3853bc;
}

.section-reports .section-tab__title {
    color: #3853bc;
    font-weight: 900;
    font-size: 30px;
    text-align: left;
    margin: 0 15px 10px 15px;
}

.section-reports .section-tab__table-button:hover {
    background-color: #E2E7FC;
}

.section-reports .section-tab__table-button .section-tab__title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    text-align: left;
}

.section-reports .section-tab__table-button .section-tab__icon {
    font-size: 20px;
}

/*******
    EXTERNAL IDENTITY SECTION
 */

.section-external-identity {
    background-image: url("../img/external-identity-img.svg");
}

.section-external-identity .section-tab {
    height: 450px;
    opacity: .7;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff;
    background-color: transparent;
}

.section-external-identity .section-tab__description {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px 8px 12px;
    border-radius: 3px;
    color: #3853bc;
    background-color: #fff;
}

.section-external-identity .section-tab:first-child {
    border: none;
    background-color: rgba(255,255,255, 1);
}

.section-external-identity .section-tab:hover  {
    box-shadow: 0 0 1px #fff;
    opacity: 1;
}

.section-external-identity .section-tab__icon {
    color: #fff;
}

.section-external-identity .section-tab__title {
    color: #fff;
}

.section-external-identity .section-tab:hover .section-tab__icon  {
    color: #fff;
}

.section-external-identity .section-tab:hover .section-tab__title  {
    color: #fff;
}

.section-external-identity .section-tab:first-child .section-tab__icon {
    color: #3853bc;
}

.section-external-identity .section-tab:first-child .section-tab__title {
    color: #3853bc;
}

.section-external-identity .section-tab:first-child .section-tab__description {
    color: #fff;
    background-color: #3853bc;
}


/********
    VIDEO SECTION
 */

.section-videos {
    background-color: #f0f3ff;
    background-image: url("../img/video-img.png");
}

.section-videos .section-symbol {
    position: relative;
    margin: 0 0 20px 0;
    width: 100px;
    height: 100px;
    background-image: url("../img/video-circle.png");
}

.section-videos .section-symbol__logo {
    margin: 14px 0 0 0;
    width: 70%;
    max-width: 200px;
}

.section-videos .section-table {
    margin: 120px auto;
}

.section-videos .section-tabs {
    background-color: transparent;
}

.section-videos .section-tab {
    margin: 0;
    display: block;
    float: none;
}

.section-videos .section-tab__row-header {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30%;
    float: left;
    transform: translateY(-50%);
}

.section-videos .section-tab__video-tab {
    width: 70%;
    float: right;
    height: 130px !important;
    margin: 5px 0;
    border-radius: 3px;
}

.section-videos .section-tab__video-tab:first-child {
    margin-top: 0;

}

.section-videos .section-tab__video-tab:last-child {
    margin-bottom: 0;
}


.section-videos .section-tab:hover  {
    background-color: #4a5ec4;
    /*box-shadow: inset -8px -8px 0px #2b46af;*/
    box-shadow: none;
}

.section-videos .section-tab:hover .section-tab__table-inner {
    /*transform: scale(.95);*/

}

.section-videos .section-tab__table-inner {
    padding: 0 35px;
}

.section-videos .section-tab__title {
    margin: 0;
    font-size: 35px;
    font-weight: 300;
    text-align: left;
}

.section-videos .section-tab__description {
    margin: 5px 0;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
}

.section-videos .section-tab__type {
    text-align: left;
    font-style: italic;
}

.section-tab__play-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 130px;
    font-size: 16px;
    font-weight: 300;
    line-height: 130px;
    padding: 0 25px;
    color: #fff;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #2b46af;
}

.section-videos .section-tab:hover .section-tab__play-btn {
    opacity: 1;
}

.section-videos .section-tab:hover .section-tab__icon {
    animation: video_button_animation .5s;
}

.section-videos .section-tab__icon {
    margin: 0 10px 0 0;
}

.section-videos .section-tab:hover .section-tab__icon {
    color: #fff;
}

.section-videos .section-tab:hover .section-tab__title {
    color: #fff;
}

.video-btn-bg {
    background-color: #4a5ec4;
}

.video-btn-pointer {
    cursor: pointer;
}

.video-btn-disable-hover {
    pointer-events: none;
    background-color: transparent;
}

@keyframes video_button_animation {
    0% {
        transform: translate3d(0, 0, 0) scale(1) rotate(.01deg);
        animation-timing-function: cubic-bezier(.375, .845, .59, .99);
    }
    50% {
        transform: translate3d(4px, 0, 0) scale(1) rotate(.01deg);
        animation-timing-function: cubic-bezier(.375, .845, .59, .99);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1) rotate(.01deg);
        animation-timing-function: cubic-bezier(.375, .845, .59, .99);
    }
}

/********
    CONTACT SECTION
 */

.section-contact {
    width: 100%;
    height: 500px;
}

.line-separate {
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #fff 50%, #fff 50%);
}

#map {
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.section-contact .section-table {
    display: table;
    float: left;
    width: 50%;
    height: 100%;
    /*background-color: rgba(0,0,0, .8);*/
    background-color: rgba(43,70,175, 1);
}

.section-table__title {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 25%;
    float: left;
    padding: 30px 0 0 0;
}

.section-table__a {
    width: 50%;
    height: 75%;
    float: left;
    text-align: center;
}

.section-table__a-title {
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.section-table__a-paragraph {
    padding: 2px 20px;
    color: #fff;
    line-height: 25px;
    font-weight: 300;
    font-size: 14px;
}

.section-table__b {
    width: 50%;
    height: 75%;
    float: left;
    text-align: center;
}

.section-table__b-title {
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.section-table__b-paragraph {
    padding: 2px 20px;
    color: #fff;
    line-height: 25px;
    font-weight: 300;
    font-size: 14px;
}

/*******
    VIDEO PLAYER
 */

.vp-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 950;
}

.vp-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .93;
}

#vp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vp-cancel-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #ffffff;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/*******
    LOADER
 */

.sk-cube-grid {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #2b46af;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes sk-cubeGridOpacityOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}


/*******
    BREAKPOINTS
 */

@media (max-width: 1080px) {
    .menu-nav__span {
        border-bottom: 0 solid #5bccd1;
        padding-bottom: 8px;
        text-align: center;
    }
    .menu-nav__lang-btn {
        float: none;
        margin: 18px auto 0 auto;
        width: 65px;
    }
    .menu-nav__links {
        display: table;
        position: absolute;
        background-color: rgba(255,255,255, .9);
        padding: 25px 0 50px 0;
        width: 280px;
        top: 80px;
        right: 0;
    }
    .menu-nav__link {
        float: none;
        display: block;
        line-height: 55px;
    }
    .menu-nav__btn {
        display: block;
    }
}

@media (max-width: 768px) {

    .menu {
        height: 40px;
    }

    .menu .menu-nav__btn {
        top: 20px;
        font-size: 40px;
    }

    .section-welcome {
        height: 400px;
    }

    .section-information .section-table .section-tabs .row-3 {
        width: 45%;
    }

    .section-request .section-table .section-tabs .row-3 {
        width: 48%;
    }

    .section-reports .section-table .section-tabs .row-2 {
        width: 100%;
    }

    .section-external-identity .section-table .section-tabs .row-3 {
        width: 45%;
    }

    .section-videos .section-tab__row-header {
        position: relative;
        top: auto;
        width: 100%;
        float: left;
        transform: none;
    }

    .section-videos .section-tab__video-tab {
        width: 100%;
        float: left;
    }

    .section-contact {
        height: auto;
    }

    #map {
        width: 100%;
        height: 300px;
    }

    .section-contact .section-table {
        width: 100%;
    }

    .section-contact .section-table__a, .section-contact .section-table__b {
        margin-bottom: 40px;
    }
}

@media (max-width: 480px) {

    .section-welcome {
        height: 300px;
    }

    .section-information .section-tab {
        margin: 10px 0;
    }

    .section-information .section-table .section-tabs .row-3 {
        width: 93%;
    }

    .section-request .section-tab__table-inner {
        padding: 0 12%;
    }

    .section-request .section-tab {
        margin: 2px 0;
    }

    .section-request .section-table .section-tabs .row-3 {
        width: 93%;
    }

    .section-reports .section-table .section-tabs .row-2 {
        width: 93%;
    }

    .section-external-identity .section-table .section-tabs .row-3 {
        width: 93%;
    }

    .section-videos .section-tab__row-header {
        width: 93%;
    }

    .section-videos .section-tab__video-tab {
        width: 93%;
    }
}
